body {
	 font-family: Arial,Helvetica,sans-serif;
}

footer {
	clear: both;
	margin-top: 10%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

.hidden {
	display: none;
}

.error {
	color: red;
}

article {
	font-size: 12px;
	word-wrap:break-word;
	width: 30%;
	padding: 5px;
	background-color: rgba(0,153,0,0.1);
}

input {
	width: 50%;
}

button {
	width: 30%;
}

.title {
	font-size:  16px;
}

.tweet {
	border: 2px solid #009900;
	margin-bottom: 3px;	
	padding: 5px;
}