body {
	padding-bottom: 20px;
	text-align: center;
}

nav {
	margin-bottom: 20px;
}

iframe {
	width: 100%;
	height: 200px;
}

fieldset {
	vertical-align: middle;
}

.pure-button-small {
    font-size: 85%;
}

.search-input {
	-webkit-border-top-right-radius: 15px !Important;
	-webkit-border-bottom-right-radius: 15px !Important;
	-moz-border-radius-topright: 15px !Important;
	-moz-border-radius-bottomright: 15px !Important;
	border-top-right-radius: 15px !Important;
	border-bottom-right-radius: 15px !Important;
	-webkit-border-top-left-radius: 0px !Important;
	-webkit-border-bottom-left-radius: 0px !Important
	-moz-border-radius-topleft: 0px !Important;
	-moz-border-radius-bottomleft: 0px !Important;
	border-top-left-radius: 0px !Important;
	border-bottom-left-radius: 0px !Important;
	width: 200px;
}

.search-link {
	border: 1px solid #ccc;
	
	-webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;	
	color: #000000;
	background-color: #FFFFFF;
}

.navbar {
	width:100% !Important;
	background-color: #000000;
}

.navbar-brand {
	font-size: 30px !Important;
	font-weight: bold;
	color: #FFFFFF !Important;
	float: left;
	margin-left: 10px;

}

.navbar-search {
	float: right;
	margin-right: 20px !Important;
	

}

.video-col {
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
	color: #990000;
	padding: 20px;
}